#container{
  padding: 0px;
  margin: 0px;
  height: inherit;
  overflow: hidden;
  min-height: 1000px;
}

/** Main large logo styling**/
#brand_holder{
  position: absolute;
  padding: 1rem;
  overflow: hidden;
  margin-top: 10rem;
  width: 250px;
  left: 40%;
  right: 50%;
}
/**Buttons**/
.btn-outline-dark {
  margin-left: 1rem;
}
#logo_sm{
  margin-left: 2.5rem;
}
.access{
  background-color: #FE2753;
  border: none;
}

.btn-group{
  opacity: .50;
  transition: .8;
}

.btn-fb {
  margin: 1rem;

}
.inst:hover{
  opacity: 1;
  background-color: blue;
}
.video-but-2{
  color: #FE2753;
  border: 1px solid #FE2753;
  margin-top: .5rem;
  margin-left: 0px;
}


/**All NAVBAR ELEMENTS 
NavigationBar formatting controlled by screen size**/

@media  screen and (max-width: 768px) {
.bg-light {
    background-color: rgba(255, 255, 255, 0.76)!important;
}
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: none;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
}

.navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 1rem;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: .5rem;
    /* float: left; */
}

/** Styling for MODALS**/

.modal-style{
  background-color: #ff000000;
  text-align: center;
}

.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem 1rem;
    border-bottom: 1px solid #ff000000;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.modal-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: end;
    justify-content: flex-end;
    padding: 1rem;
    border-top: 1px solid #ff000000;
    border-bottom-right-radius: .3rem;
    border-bottom-left-radius: .3rem;
}
.modal-body {
    position: relative;
    color: white;
    font-size: 2rem;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1rem;
}
.modal-content {
    position: relative;
    display: -ms-flexbox;
    text-align: center;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #ff000000;
    background-clip: padding-box;
    border: 1px solid #ff000000;
    border-radius: .3rem;
    outline: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    background-color: #fff0;
    background-clip: padding-box;
    border: none;
    border-radius: 0;
    border-bottom: 2px solid white;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-control:focus {
    color: #fff;
    background-color: #fff0;
    border-color: #fff;
    outline: 0;
}
.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}
.modal-dialog-video {
    max-width: 70%;
    margin: 1.75rem auto;
}

textarea.form-control {
  height: 8rem;
  border: .1rem solid white;
}

.video-modal{
  height: 30rem;
}
.expvid{
  width: 99%;
  height: 99%;
}
/**Styling for the HEADER**/

#content_B, #content_A {
  top: 0;
  color: black;
  height: 100vh;
  padding: .8rem;
  padding-top: 12rem;
  padding-left: 5rem;
}
/* Transparet logo image background*/
#content_A::after{
  content: "";
  z-index: -1;
  background-image: url("logo-main.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

#content_B{
    background: url(pic_1.jpg);
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    padding-top: 120px;
    box-sizing: border-box;
    -webkit-animation: slide 25s linear infinite;
    animation: slide 25s linear infinite;
}

/** formatting for section_A**/
.prod-features{
  background: #FE2753;
}
.prod-header{
  color: white;
  text-align: center;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 1.8rem;


}

#left, #right {
  color: white;
  height: auto;
  width: 100%;
  padding-top: 3.5rem;
  padding-left: 2.5rem;
  padding-right: 1.8rem;
  text-align: left;

}

.app-mock{
  width: inherit;
  padding-top: 1.2rem;
  padding-bottom: 1rem;
}
.phone-mock{
  float: left;
  height: 30rem;
  padding-left: 3rem;
  padding-top: .1rem;
}

.feat{
  max-width: 80%;
  float: left;
  margin-left: 5rem;
}
.feat_A{
  max-width: 80%;
  float: left;
  margin-top: 2rem;
  margin-left: 5rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  padding: 0px;
}
.feat_B{
  max-width: 80%;
  float: left;
  margin-left: 5rem;
  margin-bottom: 2rem;
}
.features-exp{
  background-color: rgb(245, 241, 234);
  padding-left: 3.5rem;
  
}
#features-tile{
  float: left;
  color: #222;
  padding: 2rem;
  margin-top: 5rem;
  margin-left: 8.85rem;
  margin-bottom: auto;
  width: 40%;
  height: auto;
  
  border-radius: .2rem;
}

/** section_A1**/
#A {
  height: auto;
  text-align: center;
  padding-top: 3rem;
  padding-left: 2.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1rem;
  background-color: white;
}
#A a{
  color: #FE2753;
  font-weight: 500;
}
#A a:hover{
  text-decoration: none;
  color: #222;
}

/**---- formatting for section_B----**/
/** formatting for team page**/
.elgrupo{
  height: auto;
  text-align: center;
  padding-top: 3rem;
  margin-bottom: 5rem;
}
.elgrupo p{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.card{
  border: none;
  background-color: rgb(245, 241, 234);
}
.cards-tainer{
  width: 75vw;
  text-align: center;
  padding-left: 2rem;
  padding-right: auto;
  margin-left: auto;
  margin-right: auto;

}
.card-body{
  overflow: hidden;
  padding: 0;
}
.card-footer{
  text-align: center;
  font-size: .8rem;
  background-color: rgb(245, 241, 234);
}
.col-image{
  width: 100%;
  transition: 1s;
  filter: grayscale(80%);
}
.col-image:hover{
  filter: grayscale(0);
}
.team-cards{
  float: left;
  height: 13rem;
  width: 10rem;
  margin-top: 1rem;
  margin-right: 5rem;
  border-radius: .4rem;
  overflow: hidden;
}
.boss-lady{
  width: 60%;
  height: 300px;
  padding-top: 3.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10rem;
  border-top: 1px solid #343a4023;
}
.boss-avatar{
  float: left;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: .2rem solid #FE2753;
  background-image: url(./team/boss-lady.jpg);
  background-size: 6rem;
  box-shadow: #343a40;
}
.bubble-wrap{
  float: right;
  margin-left: 0rem;
}
.bubble
{
   position: relative;
   width: 30rem;
   height: 12rem;
   padding: 1rem;
   background: #ffffff;
   margin-bottom: 2rem;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 17px 9px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -17px;
    top: 26px;
}
.avatar{
  text-align: center;
  display: inline-block;
  width: 6.1rem;

}

/* formatting for the FOOTER */

.footer{
  padding: .8rem;
  text-align: center;
  background-image: url("mascot.png");
  background-size: 8%;
  background-position-x: 2rem;
  background-position-y: 2rem;
  background-repeat: no-repeat;
}

.footmage{
  padding-bottom: 2rem;
  width: 8rem;
}
.social{
  padding: .5rem;
  margin-left: 2rem;
  border-radius: 1.5rem;
  border: 0.05rem solid #CDCDCD;
  transition: 1s;
}
/*-----------------------------------------
------------FOR SMALL SCREENS----------------------------------------------------------------
----formatting for small width screens--*/
@media  screen and (max-width: 1024px) {
  .elgrupo p{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
  }
  #features-tile {
    float: left;
    color: #222;
    padding: 2rem;
    margin-top: 5rem;
    margin-left: 5rem;
    margin-bottom: auto;
    width: 40%;
    height: auto;
    border-radius: .2rem;
  }
  .bubble:after
{
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 17px 9px 0;
    border-color: transparent #ffffff;
    display: block;
    width: 0;
    z-index: 1;
    left: -17px;
    top: px;
}
.avatar{
  text-align: center;
  margin-left: 30%;
  width: 6.1rem;
  }

}

@media  screen and (max-width: 768px) {

/*NavigationBar*/
div#navbarSupportedContent {
  text-align: center;
}
#navnav{
  background-color: rgba(242, 73, 83, 0.45)!important;
}

/*Seaction_A*/
  #content_B, #content_A {
    top: 0;
    color: black;
    height: auto;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: 7.5rem;
    padding-bottom: 5rem;
    text-align: center;
    margin-left: 0.rem;
  }

  .prod-features{
    background: rgb(254,39,83);
  }

  #right {
    color: white;
    width: 100%;
    height:inherit;
    margin-top: 0;
    text-align: center;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    padding-right: 1rem;
  }
  #left {
    color: white;
    width: 100%;
    height:inherit;
    margin-top: 0;
    text-align: left;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    padding-right: 2.5rem;
  }

  .feat{
    max-width: 100%;
    float: left;
    margin-left: 1rem;
  }
  .feat_A{
    max-width: 100%;
    float: left;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 0px;
  }
  .feat_B{
    max-width: 100%;
    float: left;
    margin-left: 1rem;
    border-bottom: 1px solid #ffffff1a;
  }
  .app-mock{
    width: 50vh;
    padding-top: 1rem;
  }
  .phone-mock{
    float: left;
    height: 30rem;
    margin-left: 22%;
    margin-right: auto;
    padding-left: 0rem;
    padding-top: .1rem;
  }
  .features-exp{
    background-color: rgb(245, 241, 234);
    padding-left: .2rem;
  }
  #features-tile{
    float: left;
    color: #222;
    padding: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-bottom: auto;
    width: 90%;
    height: auto;
    border-radius: .2rem;
  }
  
  /** section_A1**/
  #A, #B {
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 1rem;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    padding-bottom: 1rem;
    background-color: white;
  }
  .modal-dialog-video {
      max-width: 100%;
      margin: 1rem auto;
  }
  .elgrupo{
    height: auto;
    text-align: center;
    padding-top: 3rem;
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2rem;
  }
  .cards-tainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
  }
  .boss-lady{
    width: 80%;
    height: auto;
    padding-top: 3.5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    border-top: 1px solid #343a4023;
  }
  .bubble-wrap {
    float: right;
    margin-left: 0rem;
}
  .bubble
  {
     position: relative;
     width: 29rem;
     height: auto;
     padding: 1rem;
     background: #ffffff;
     margin-top: 2rem;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 2rem;
     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  }
  .bubble:after
  {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 20px 20px;
    border-color: rgb(255, 255, 255) transparent;
    display: block;
    width: 0;
    z-index: 1;
    top: -20px;
    left: 45%;
  }
  .avatar{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6.1rem;
    }
  .last-but{
    margin-left: 30%;
  }
}

/** For screens SMALLER than 375px **/
@media  screen and (min-width: 360px)and (max-width: 414px) {
  .elgrupo p{
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  #content_B{
    visibility: hidden;
  }
  #content_A {
    top: 0;
    color: black;
    max-height: auto;
    padding-left: .8rem;
    padding-right: .8rem;
    padding-top: 7.5rem;
    padding-bottom: 0rem;
    text-align: center;
    margin-left: 0.rem;
  }

  .map{
    visibility: hidden;
    width: 1%;
  }
  #map{
    height: 10vh;
  }
  
  
  #left #right {
    color: white;
    width: 100%;
    height:inherit;
    margin-top: 0;
    text-align: center;
    padding-left: 2.5rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
    padding-right: 2.5rem;
    background-color: #FE2753;
  }

  #A,#B{
    height: auto;
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    background-color: white;
  }
  
  .elgrupo{
    height: 50vh;
    text-align: center;
    padding-top: 3rem;
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    margin-bottom: 2rem;
    overflow-y: scroll;
  }
  .cards-tainer{
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
  }
  .social {
    float: left;
    padding: .5rem;
    margin-top: .5rem;
    margin-left: 28%;
    margin-right: 30%;
    border-radius: 1.5rem;
    border: 0.05rem solid #CDCDCD;
    transition: 1s;
  }
  /** Founder statement **/
  .boss-lady {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
   
  }
  .bubble
{
   position: relative;
   width: 23rem;
   height: auto;
   padding: 1rem;
   background: #ffffff;
   margin-top: 2rem;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 2rem;
   -webkit-border-radius: 3px;
   -moz-border-radius: 3px;
   border-radius: 3px;
   -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
.bubble:after
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 0 20px 20px;
  border-color: rgb(255, 255, 255) transparent;
  display: block;
  width: 0;
  z-index: 1;
  top: -20px;
  left: 45%;
}
  .bubble-wrap {
    float: none;
    display: block;
    width: auto;
    text-align: left;
}
  .phone-mock{
    float: left;
    height: 30rem;
    margin-left: 0rem;
    padding-left: 0rem;
    padding-top: .1rem;
  }
  .features-exp{
    background-color: rgb(245, 241, 234);
    padding-left: rem;
  }
  .avatar{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6.1rem;
    }
  .last-but{
    margin-left: 30%;
  }
}
