body {
  background-color: rgb(245, 241, 234);
  font-family: 'Muli', sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;-moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1{
  color: #222;
  font-weight: 600;
  font-size: 3.3rem;
}
h2{
  font-size: 2.5rem;
}
h4{
  font-size: 1.2rem;
  font-weight: bolder;
}
.sub-header{
  font-weight: lighter;
  font-size: 1.3rem;
}
p{
  font-size: 1.1rem;
}
.CTA{
  padding-bottom: 1rem;
  font-weight: bolder;
  font-size: .80rem;
}
.tagline{
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 90%;
}
.cards-tainer h4{
  font-size: 1rem;
}
.cards-tainer p{
  font-size: .8rem;
  padding-left: .5rem;
}
#features-tile p{
  font-size: 1.1rem;
}
#features-tile h4{
  color: #FE2753;
}
.footer p{
  padding-top: 2.5rem;
  font-size: .8rem;
  color: rgb(161, 154, 154);
}
/** NavigationBar Links **/
.navbar-light .navbar-nav .nav-link {
    color: #fff;
    transition: 0.5s;
}



/*========================================*/
.back-up a{
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
}
.back-up{
  position: fixed;
  bottom: 15px;
  right: 0px;
  padding: 0.2rem;
  z-index: 1200;
  margin-right: 0;
  margin-bottom: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  padding-top: 0.5rem;
  text-align: center;
  width: 7rem;
  height: 2.5rem;
  opacity: .6;
  visibility: hidden;
  background-color: #FE2753;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.30);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.30);
  box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.30);
  transition: .5s;
}
.back-up:hover{
    background-color: #FE2753;
    cursor: pointer;
    color: white;
    opacity: 1;
}
.social-link{
  color: rgb(168, 167, 167);
  transition: .5s;
}
.social-link:hover{
  color: rgb(242, 73, 83);
}

.foot-nav{
  color: rgb(136, 131, 131);
  margin-right: 1rem;
}

.p-nav{
  color: rgb(242, 73, 83);
}
.p-nav:hover{
  color: rgb(136, 131, 131);
}
.foot-nav:hover{
  color:  rgb(242, 73, 83);
  text-decoration: none;
  margin-right: 1rem;
}
.card-body:hover .nome{
  opacity: 1;
}
#home{
  visibility: hidden;
}
